body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e030e;
    color: #ffffff;
}

header {
    display: flex;
    background-color: #370f36;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.signup-btn,
.login-btn {
    background-color: #ffb2fa;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: #e699f4;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

article {
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #ffb2fa;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #370f36;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ffb2fa;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e699f4;
}

.reply {
    margin-top: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}